.Toastify__toast-container {
    width: auto;
    max-width: unset;
}

.Toastify__toast {
    white-space: nowrap;
}

.form-container {
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.form input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.form .submit {
    padding: 14px 24px;
    margin-top: 20px;
    background-color: #609f63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #4bd575;
}

.form button:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    /* Use flexbox */
}

li {
    margin-right: 12%;
    margin-left: 12%;
    /* Add some spacing between buttons */
}

.link {
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #34669b;
    /* Button background color */
    color: #ffffff;
    /* Text color */
    border: none;
    cursor: pointer;

}

.link:hover {
    background-color: #0056b3;
    /* Change background color on hover */
}